<!-- Syntax highlighting -->
{{ if isset .Site.Params "highlightStyle" }}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.7/styles/{{ .Site.Params.highlightStyle }}.min.css">
{{ else }}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.7/styles/tomorrow-night-bright.min.css">
{{ end }}
<script src="/js/highlight.pack.js"></script>
<script>
(function(){
  function overwriteNoHighlight() {
    var blocks = document.querySelectorAll('pre code');
    Array.prototype.forEach.call(blocks, function(block) {
      if (block.className == "") {
        block.className = "language-no-highlight hljs";
      }
    });
  }
  addEventListener('DOMContentLoaded', overwriteNoHighlight, false);
  addEventListener('load', overwriteNoHighlight, false);
})();
hljs.initHighlightingOnLoad();
</script>

<link rel="stylesheet" href="/css/custom.css">
